@import "./colors.css";

html {
    color: var(--foreground);
    background-color: var(--background);
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}

div.container {
    margin: 1cm;
    max-width: 20cm;
    text-align: justify;
    padding: 5mm;
    margin-left: auto;
    margin-right: auto;
}

div.foot {
    margin-top: 5cm;
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 8cm);
    text-align: center;
}

.codehilite {
    margin: 5mm;
}
.section a {
    color: var(--color1);
}
.codehilite * {
    background-color: black;
    overflow-x: scroll;
}

.codehilite pre {
    padding: 5mm;
}

code {
    background-color: black;
    padding: .5mm;
    border-radius: 1mm;
    color: white;
    line-height: 150%;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    right: 0;
    height: 1cm;
    font-size: large;
    background-color: var(--color13);
}

nav .nav-container {
    max-width: 20cm;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--foreground);
    transition: all 200ms ease-in-out;
}

nav a:hover {
    font-size: 110%;
    color: var(--color3);
}

h1 {
    margin-bottom: 1mm;
}

.cvsection h2 {
    display: flex;
    align-items: baseline;
}

.cvsection h2 span.ruler {
    flex: 1;
    border: 1px solid white;
    margin-left: 1mm;
}

.cvsection ul {
    padding: 5mm
}

.cvsection li {
    display: grid;
    margin-bottom: 5mm;
    grid-template-columns: auto;
}
@media screen and (min-width: 640px) {
    .cvsection li {
        grid-gap: 2em;
        grid-template-columns: 1fr 3fr;
    }
}


.cvsection li .category {
    font-weight: bold;
    font-size: 130%;
    text-align: start;
    width: 100%;
}

.cvsection li .category .subtitle {
    font-weight: 400;
    font-size: 50%;
}

.cvsection li .values {
    text-align: end;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.cvsection li .values .job-title {
    margin: 0;
    font-size: 130%;
}

.cvsection li .values ul {
    padding: 0;
    margin-top: 1cm;
    text-align: justify;
    max-width: 12cm;
}

.cvsection li li {
    display: list-item;
    list-style-type: none;
}

.cvsection li .values ul li::before {
    content: "-";
    margin-right: 1mm;
}
.fancy-fancy {
    color: var(--color13);
}

.fancy-normal, .fancy-fancy {
    transition: color 100ms ease-in-out;
}

.fancy-fancy:hover, .fancy-normal:hover {
    color: var(--color3);
}

.project-card {
    color: var(--foreground);
    background-color: var(--background);
    width: calc(100% - 2cm);
    min-height: 2cm;
    border: 1px solid var(--color2);
    text-decoration: none;
    padding: 5mm 1cm;
    margin-top: 1cm;
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease-in-out;
    position: relative;
    top: 0px;
    left: 0px;
}

a.block:link {
    text-decoration: none;
}

a:hover .project-card {
    border-color: var(--color3);
    top: -7px;
    left: -4px;
    box-shadow: 4px 7px var(--color3);
}

ul.socials {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin-top: 2cm;
}

ul.socials li {
    display: block;
    font-size: 140%;
}

ul.socials li a {
    padding: 3mm;
    color: var(--foreground);
    text-decoration: none;
    background-color: var(--color2);
    border: 1px solid var(--color2);
    position: relative;
    top: 0;
    left: 0;
    transition: all 200ms ease-in-out;
}

ul.socials li a:hover {
    background-color: var(--background);
    border-color: var(--color3);
    top: -3px;
    left: -5px;
    box-shadow: 5px 3px 0px var(--color3);
}

h2.header {
    margin-top: 2cm;
}

em {
    color: var(--color3);
}
