.nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  right: 0;
  height: 1cm;
  font-size: large;
  background-color: var(--color13);
  a {
    text-decoration: none;
    color: var(--foreground);
    transition: all 200ms ease-in-out;
  }
  a:hover {
    font-size: 110%;
    color: var(--color3);
  }
}

.navContainer {
  max-width: 20cm;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: bold;
}

.container {
  margin: 1cm;
  max-width: 20cm;
  text-align: justify;
  padding: 5mm;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  margin-top: 5cm;
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 8cm);
  text-align: center;
}
